.articles {
  position: relative;
  height: 90.6vh;
}

.send-email {
  display: grid;
  place-items: center;
  position: relative;
}

.send-email_form {
  width: 22rem;
}

.send-email_title {
  font-size: 1.5rem;
  color: #ed0083;
}

.send-email_text {
  line-height: 1px;
}

.send-email_space {
  margin-block: 10px;
  width: 100%;
}

.send-email_input {
  height: 25px;
  width: 100%;
}

.box_message {
  height: 200px;
  width: 100%;
}

.send-email_input_button {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  margin-block: 30px;
}

.notification_shallow_box {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222023ba;
  width: 100%;
  height: 100%;
}

.inactive {
  display: none;
}

.notification_box {
  display: grid;
  place-content: center;
  justify-items: center;
  background-color: #242a30;
  width: 20rem;
  height: 10rem;
}

.notification_text {
  font-size: 1rem;
}

.notification_button {
  width: 10rem;
  height: 3rem;
}
