.links-container {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.links-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link-option:hover {
  text-decoration: underline;
}
