body{
    padding: 0px;
    margin: 0;
    font-size: 62.5%;
    background-color: blanchedalmond;
  }

  .mensaje-contenedor{
   display: grid;
   place-items: center;
   margin: 100px; 
  }
  .mensaje-contenedor h2{
    font-size: 1.8rem;
  }
  .emisor{
   display: flex;
   justify-content: flex-start;     
   justify-items: stretch;
   font-size: 1rem;
   align-items: center;
   width: 100%;
  }
  .correo{
    padding-inline:10px ;
    color: #ffb74b;
  }      
  .asunto-contenedor{
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .asunto-contenedor p{
    margin: 0px;
  }
  .caja-de-mensaje{
   font-size: 1rem
  }
  .box{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
  }